.required:after {
    content: " *";
    color: red;
}

html, body {
    height: 100%;
    overflow: visible;
}

@media (max-width: 768px) {
    #wrapping {
        box-sizing: border-box;
        min-height: 100%;
        padding: 0 0 250px;
        position: relative;
    }
}

@media (min-width: 768px) {
    #wrapping {
        box-sizing: border-box;
        min-height: 100%;
        padding: 0 0 100px;
        position: relative;
    }
}

#main {
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}





@media (max-width: 768px) {
    .footer{
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;


        background: #333;
        color: #eee;
        font-size: 11px;
    }
}

@media (min-width: 768px) {
    .footer {
        bottom: 0;
        height: 100px;
        left: 0;
        position: absolute;
        width: 100%;

        background: #333;
        color: #eee;
        text-align: center;

    /*.footer {
        position: absolute;
        width: 100%;
        /*margin-top: -15%;*/  /* negative value of footer height */
        /*z-index: 1;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        */
    }
}

ul.unstyled {
    list-style: none;
    padding: 0;
}

.conatinerScreen {
    box-shadow: 0px 0px 10px 2px rgba(136,136,136,0.99);
    background-color: rgba(255,255,255,1.0);
    padding: 18px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    #largeElement {
        display: none;
    }

    #smallElement {
        display: block;
    }
}

@media (min-width: 768px) {
    #largeElement {
        display: block;
    }

    #smallElement {
        display: none;
    }
}

::-webkit-scrollbar {
    height: .4% !important;
    overflow: visible !important;
    width: .4% !important;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, rgb(123, 123, 123) 0%, rgb(153, 153, 153) 100%) !important;
    background-clip: padding-box !important;
    border: 0.025em solid transparent !important;
    border-image: initial !important;
    min-height: 28px !important;
    padding: 100px 0px 0px !important;
    border-radius: 18%;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(left, rgba(58,58,58,.9) 0%,rgba(120,120,120,.9) 100%) !important;
    background-clip: padding-box !important;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: -webkit-linear-gradient(left, rgba(58,58,58,1) 0%,rgba(80,80,80,1) 100%) !important;
    background-clip: padding-box !important;
}

::-webkit-scrollbar-button {
    height: 0px !important;
    width: 0px !important;
}

::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(left, rgba(228,228,228,.7) 0%,rgba(240,240,240,.7) 100%) !important;
    box-shadow: inset 1px 0px 5px -2px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-corner {
    background: transparent !important;
}