.required:after {
    content: " *";
    color: red;
}


#main {
    overflow: visible;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

@media (max-height: 450px) {
    .footer, .push {
        background: #333;
        color: #eee;
        font-size: 11px;
        position: relative;
    }
}

@media (min-height: 450px) {
    .footer, .push {
        background: #333;
        color: #eee;
        font-size: 11px;
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

ul.unstyled {
    list-style: none;
    padding: 0;
}