@import url(http://fonts.googleapis.com/css?family=Capriola);

#navigationbar,
#navigationbar ul,
#navigationbar ul li,
#navigationbar ul li a {
    color: #E6B800;
    text-transform: capitalize;
    font-family: "Arial Black", Gadget, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 16px;
}

#navigationbar {
    width: auto;
    height: 77px;
    padding-bottom: 4px;
}

#navigationbar ul li {
    display: inline-block;
    margin-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 5;
}

#navigationbar ul li a {
    padding: 12px 30px 13px 30px;
    position: relative;
    top: 14px;
    center: auto;
    margin-bottom: 0px;
    margin-right: -4px;
    margin-left: -4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #E6B800;
    font-size: 16px;
    text-decoration: none;
}

#navigationbar ul li a:hover,
#navigationbar ul li.active > a {
    color: #ffffff;
    box-shadow: inset 0 0 3px #000000;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    background: #070707;
    background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
    background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
    background: -o-linear-gradient(top, #262626 0%, #070707 100%);
    background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
    background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}

.navbar-static-top {
    border-radius: 0;
    max-height: 50px;
}

.navigationbar {
    text-align: center;
}

@media (min-width: 766px) {
    .navigationbarbutton {
        width: 29px;
        height: 33px;
        position: static;
        cursor: pointer;
        position: relative;
        top: 0%;
        left: 0%;
        padding: 0;
        border: none;
        background: none;
        background: url('../img/arrow.png') no-repeat;
        outline: none;
    }
}

@media (min-width: 1300px) {
    .navigationbarbutton {
        width: 29px;
        height: 33px;
        position: static;
        cursor: pointer;
        position: relative;
        top: 0%;
        left: 50%;
        padding: 0;
        border: none;
        background: none;
        background: url('../img/arrow.png') no-repeat;
        outline: none;
    }
}

@media (max-width: 766px) {
    .navigationbarbutton {
        display: none;
    }
}

.navigationbarbutton:hover {
    background-color: transparent;
}

.navigationbarbutton:active {
    position: relative;
}

.column-left {
    float: left;
    width: 2.5%;
}

.column-right {
    float: right;
    width: 2.5%;
}

.column-center {
    display: inline-block;
    width: 95%;
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@media (min-width: 766px) {
    .sizeShowHide {
        display: none;
    }
}