#sidemenu ul.sub-nav {
    display: none;
}

#sidemenu ul.sub-sub-nav {
    display: none;
}

#sidemenu ul.visible {
    display: block;
}


.sidemenu a {
    color: inherit;
    height: 10px;
    padding: 0 5px;
    text-decoration: none;
}

.sidemenu li {
    display: inline-block;
    position: relative;
    border-right: solid 1px black;
    color: black;
}

.sidemenu li:last-of-type { border-right: none; }

.sidemenu li > ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    display: none;
    white-space: nowrap;
}

.sidemenu > li > ul {
    top: auto;
    left: 0;
    width: 100%;
}

.sidemenu li > a:after { margin-left: 5px; content: '\25BA'; }
.sidemenu > li > a:after { margin-left: 5px; content: '\25BC'; }
.sidemenu li > a:only-child:after { margin-left: 0; content: ''; }

.sidemenu li > ul > li {
    border-right: none;
    border-bottom: solid 1px black;
    display: block;
}

.sidemenu li:hover { background-color: yellow; }
.sidemenu li:hover > ul {display: block; }

