* {
    margin: 0;
    padding: 0;
    text-decoration: none
}


#sidemenuPanel, #sidemenuPanel ul, #sidemenuPanel ul li, #sidemenuPanel ul li a, #sidemenuPanel #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#sidemenuPanel:after, #sidemenuPanel > ul:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}


#sidemenuPanel {
    font-family: Circular, Helvetica, Arial, sans-serif;
    background: rgba(51,51,51,.7);
}

#sidemenuPanel > ul > li {
    float: left
}

#sidemenuPanel > ul > li > a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 300;
    display: block;
}

#sidemenuPanel > ul > li:hover > a, #sidemenuPanel ul li.active a {
    color: #fff
}

#sidemenuPanel > ul > li:hover, #sidemenuPanel ul li.active:hover, #sidemenuPanel ul li.active, #sidemenuPanel ul li.has-sub.active:hover {
    background-color: rgba(241,180,52,.8) !important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

#sidemenuPanel > ul > li.has-sub > a {
    padding-right: 30px
}

#sidemenuPanel > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#sidemenuPanel > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#sidemenuPanel > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0
}

#sidemenuPanel ul ul {
    position: absolute;
    left: -9999px
}

#sidemenuPanel ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #333;
    transition: all .25s ease
}

#sidemenuPanel ul ul li:hover {
}

#sidemenuPanel li:hover > ul {
    left: auto
}

#sidemenuPanel li:hover > ul > li {
    height: 35px
}

#sidemenuPanel ul ul ul {
    margin-left: 100%;
    top: 0
}

#sidemenuPanel ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

#sidemenuPanel ul ul li:last-child > a, #sidemenuPanel ul ul li.last-item > a {
    border-bottom: 0
}

#sidemenuPanel ul ul li:hover > a, #sidemenuPanel ul ul li a:hover {
    color: #fff
}

#sidemenuPanel ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#sidemenuPanel ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#sidemenuPanel ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0
}

#sidemenuPanel ul ul li.has-sub:hover, #sidemenuPanel ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}

#sidemenuPanel ul ul ul li.active a {
    border-left: 1px solid rgba(51,51,51,.9);
}

#sidemenuPanel > ul > li.has-sub > ul > li.active > a, #sidemenuPanel > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid rgba(51,51,51,.9);
}

@media screen and (max-width: 9999px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }

    .logo2 {
        display: none
    }

    nav {
        width: 100%;
    }

    #sidemenuPanel {
        width: 100%
    }

    #sidemenuPanel ul {
        width: 100%;
        display: none
    }

    #sidemenuPanel ul li {
        width: 100%;
        border-top: 1px solid rgba(61,61,61,.9);
    }

    #sidemenuPanel ul li:hover {
        background: #363636;
    }

    #sidemenuPanel ul ul li, #sidemenuPanel li:hover > ul > li {
        height: auto
    }

    #sidemenuPanel ul li a, #sidemenuPanel ul ul li a {
        width: 100%;
        border-bottom: 0
    }

    #sidemenuPanel > ul > li {
        float: none
    }

    #sidemenuPanel ul ul li a {
        padding-left: 25px
    }

    #sidemenuPanel ul ul li {
        background: rgba(51,51,51,1) !important;
    }

    #sidemenuPanel ul ul li:hover {
        background: rgba(54,54,54,1) !important
    }

    #sidemenuPanel ul ul ul li a {
        padding-left: 35px
    }

    #sidemenuPanel ul ul li a {
        color: #ddd;
        background: none
    }

    #sidemenuPanel ul ul li:hover > a, #sidemenuPanel ul ul li.active > a {
        color: #fff
    }

    #sidemenuPanel ul ul, #sidemenuPanel ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }

    #sidemenuPanel > ul > li.has-sub > a:after, #sidemenuPanel > ul > li.has-sub > a:before, #sidemenuPanel ul ul > li.has-sub > a:after, #sidemenuPanel ul ul > li.has-sub > a:before {
        display: none
    }

    #sidemenuPanel #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }

    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
        display: none;
    }

    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: ''
    }

    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }

    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    #sidemenuPanel .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(68,68,68,.9);;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

    #sidemenuPanel .submenu-button.submenu-opened {
        background-color: rgba(38,38,38,0.5);
    }

    #sidemenuPanel ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #sidemenuPanel .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #sidemenuPanel ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }

    #sidemenuPanel .submenu-button.submenu-opened:after {
        background: #fff
    }

    #sidemenuPanel .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }

    #sidemenuPanel ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }

    #sidemenuPanel .submenu-button.submenu-opened:before {
        display: none
    }

    #sidemenuPanel ul ul ul li.active a {
        border-left: none
    }

    #sidemenuPanel > ul > li.has-sub > ul > li.active > a, #sidemenuPanel > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}