.required:after {
    content:" *";
    color:red;
}
.footer{
    color: #eee;
    font-size: 11px;
    padding: 10px;
}

ul.unstyled{
    list-style: none;
    padding: 0;
}

#wrap {
    padding-bottom: 155px;
}
